

extends layout

block content

  body(class="easyui-layout")
    div(data-options="region:'north',title:'Elite Fleet (C) - Fleet Management App',split:true" style="height:100px;")
      center
        h1 EliteFleet
    div(data-options="region:'south',title:'',split:true" style="height:100px;")
    div(data-options="region:'east',title:'',split:true" style="width:100px;")
    div(data-options="region:'west',title:'',split:true" style="width:250px;")
      table
        tr
          td
            a(href="#" onclick="loadHome()") 
              div(style="display:table-cell;font-size:18px")
                i(class="material-icons md-48;" style="font-size:48px;") home  
                b View Vehicles 
        tr
          td
            a(href="#" onclick="loadWorkorders()") 
              div(style="display:table-cell;font-size:18px")
                i(class="material-icons md-48;" style="font-size:48px;") insert_drive_file 
                b Work Orders 
        tr
          td
            a(href="#" onclick="loadParts()") 
              div(style="display:table-cell;font-size:18px")
                i(class="material-icons md-48;" style="font-size:48px;") memory 
                b Parts on Workorders
        tr
          td
            a(href="/newvehicle") 
              div(style="display:table-cell;font-size:18px")
                i(class="material-icons md-48;" style="font-size:48px;") directions_car 
                b New Vehicle
        tr
          td
            a(href="/upload")
              div(style="display:table-cell;font-size:18px")
                i(class="material-icons md-48;" style="font-size:48px;") cloud_upload 
                b Upload CSV

        tr
          td
            a(href="#" onclick="loadUploadTest()")
              div(style="display:table-cell;font-size:18px")
                i(class="material-icons md-48;" style="font-size:48px;") cloud_upload 
                b Test Uploaded Data
      
    div(data-options="region:'center',title:'Fleet Vehicles Overview'" style="padding:5px;background:#eee;")
      div(class="easyui-layout",style="width:100%;height:100%;")
        table(id="dg")
     
  script(src="javascripts/main.js")
