doctype html
html
  head
    title= title
    script(src='/jquery/dist/jquery.js')
    script(src='/jquery/dist/jquery.min.js')
    script(src="/easyui/jquery.min.js")
    script(src="/easyui/jquery.easyui.min.js")
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/datagrid_filter/datagrid-filter.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel="stylesheet", href="/easyui/themes/default/easyui.css")
    link(rel="stylesheet", href="/easyui/themes/icon.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    block content
